body {
  margin:0;
  font-family:"Segoe UI", sans-serif;
  background: linear-gradient(135deg,#667eea,#764ba2);
  color:white;
  transition:0.5s;
}
body.light {
  background:#f4f4f4;
  color:#111;
}
.container {
  padding:20px;
}
.card {
  background: rgba(255,255,255,0.15);
  border-radius:16px;
  padding:20px;
  margin:15px 0;
  backdrop-filter: blur(10px);
  cursor:pointer;
  transition: transform .3s;
}
.card:hover { transform: scale(1.05); }
button { padding:10px 15px; border:none; border-radius:10px; cursor:pointer; }
body.light .card { background:white; color:black; }
input, textarea { width:100%; padding:8px; margin:5px 0; border-radius:8px; border:none; }
img { border-radius:12px; margin:10px 0; }
