body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

header {
  text-align: center;
  padding: 25px;
  background: #020617;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #020617;
  padding: 10px;
}

nav a {
  color: #38bdf8;
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

article {
  background: #020617;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.ads {
  background: #111827;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 15px;
  background: #020617;
}
