body { background: #000; color: #fff; font-family: sans-serif; margin: 0; scroll-behavior: smooth; }
.nav-container { display: flex; justify-content: space-between; padding: 20px; background: #111; }
.logo span { color: #ff4757; }
.container { max-width: 900px; margin: auto; padding: 20px; }

.search-bar input { width: 100%; padding: 15px; background: #222; border: 1px solid #444; color: #fff; border-radius: 8px; margin-bottom: 20px; }

.filter-buttons { margin-bottom: 20px; }
.f-btn { padding: 10px 20px; background: #333; border: none; color: #fff; cursor: pointer; border-radius: 20px; margin-right: 10px; }
.f-btn.active { background: #ff4757; }

.grid { display: grid; grid-template-columns: 1fr 1fr; gap: 20px; }
.card { background: #1a1a1a; padding: 20px; border-radius: 10px; border: 1px solid #333; }
.go-btn { color: #ff4757; text-decoration: none; font-weight: bold; display: block; margin-top: 10px; }

.post-full { background: #111; padding: 40px; margin-top: 50px; border-radius: 10px; border-top: 4px solid #ff4757; }
.post-full a { color: #888; text-decoration: none; font-size: 14px; }